.title-bar {
    -fx-fill: -main-text-color;
    -fx-font-size: 8pt;
    -fx-font-weight: BOLD;
    -fx-text-fill: -main-text-color;
    -fx-alignment: BOTTOM_CENTER;
}

.image-button-label {
    -fx-font-weight: BOLD;
    -fx-fill: -main-text-color;
    -fx-text-fill: -main-text-color;
    -fx-alignment: BOTTOM_CENTER;
}

.snack-bar {
    -fx-fill: -main-text-color;
    -fx-font-size: 8pt;
    -fx-font-weight: BOLD;
    -fx-text-fill: -main-text-color;
    -fx-alignment: BOTTOM_CENTER;
}