.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.hbox, .vbox {
    -fx-background-color: -main-color;
    -fx-padding: 4;
    -fx-spacing: 3;
}

.snackBar {
    -fx-background-color: -secondary-color;
    -fx-padding: 4;
    -fx-spacing: 3;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.popup {
    -fx-background-color: -support-color;
}

.rolling-bar {
    -fx-background-color: -main-color;
    -fx-padding: 5;
    -fx-border-color: -highlight-color;
    -fx-border-style: solid;
    -fx-border-width: 3 0 0 0;
    -fx-spacing: 7;
}

.attributes-box {
    -fx-background-color: -main-color;
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-padding: 3;
}

.flowPane {
    -fx-background-color: -main-color;
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-padding: 3 15 3 3;
}

.scroll-bar{
    -fx-background-color: TRANSPARENT;
    -fx-border-color: TRANSPARENT;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: TRANSPARENT;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: -support-color;
    -fx-background-radius: 5em;
}

.skill-pane {
    -fx-padding: 4;
    -fx-spacing: 3;
}

.clickable-pane {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.clickable-pane-selected {
    -fx-background-color: -highlight-color;
}

.clickable-pane:hover {
    -fx-background-color: -highlight-color;
}

.image-container {
    -fx-padding: 5;
}