.main-action{
    -fx-background-color: RED; 
    -fx-text-fill:WHITE;
    -fx-font-weight:bold;
}

.secondary-action{
    -fx-background-color: BLACK; 
    -fx-text-fill:WHITE;
    -fx-font-weight:bold;
}

.support-actions{
    -fx-background-color: WHITE;
    -fx-text-fill:RED;
    -fx-font-weight:bold;
}