.glyph-icon {
    -fx-text-fill: -icons-color;
    -fx-fill: -icons-color;
    -glyph-size: 13px;
}

.glyph-icon:hover {
    -fx-text-fill: -icons-color-hover;
    -fx-fill: -icons-color-hover;
}

.glyph-icon:pressed {
    -fx-text-fill: -icons-color;
    -fx-fill: -icons-color;
}

.config-icon {
    -fx-text-fill: -icons-color-hover;
    -fx-fill: -icons-color-hover;
}

.config-icon:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1.0), 10, 0, 0, 0);
}